{% use 'form_div_layout.html.twig' %}


{% block form_label %}
    {% if label is not same as(false) %}
        {% if label is empty %} {# If no label is given, use a humanized version of the field name #}
            {% set label = name|humanize %}
        {% endif %}

        {% if not compound %}
            {% set label_attr = label_attr|merge({ for: id }) %}
        {% endif %}

        <label
            {% with { attr: label_attr } %}
                {{ block('attributes') }}
            {% endwith %}>
            {{ label|trans({}, translation_domain) }}
            {% if required %}
                <span>*</span>
            {% endif %}
        </label>
    {% endif %}
{% endblock %}


{# ---- ERRORS ---- #}
{% block form_errors %}
    {% if errors|length %}
        <ul class="form-errors">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{# ---- HELP ---- #}
{% block form_help %}
    {% if help is not empty %}
        <div id="{{ id }}_help" class="form-help">
            {{ help|trans({}, translation_domain) }}
        </div>
    {% endif %}
{% endblock %}


{# Generic row for text, email, password fields, etc. #}
{% block form_row %}
    {% set fieldClass = 'my-input' %}
    {% if not form.vars.valid %}
        {% set fieldClass = fieldClass ~ ' is-invalid' %}
    {% endif %}

    {% if 'checkbox' in form.vars.block_prefixes %}
        <div class="custom-checkbox">
            {{ form_widget(form) }}
            {{ form_label(form, null, { label_attr: { class: 'my-checkbox-label' } }) }}
            {{ form_errors(form) }}
        </div>
    {% else %}
        <div class="my-custom-row">
            <div class="input-wrapper">
                {{ form_widget(form, { attr: { class: fieldClass } }) }}
                {{ form_label(form, null, { label_attr: { class: 'my-label' } }) }}
                <span class="underline"></span>
            </div>

            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}




{# {% block form_row_inline %} #}
{#    <div class="form-row-inline"> #}
{#        {{ form_label(form, null, { label_attr: { class: 'my-label' } }) }} #}
{#        <div class="my-input-wrapper"> #}
{#            {{ form_widget(form, { attr: { class: 'my-input' } }) }} #}
{#        </div> #}
{#        {{ form_errors(form) }} #}
{#    </div> #}
{# {% endblock %} #}




{# Textarea customization #}
{% block textarea_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' my-textarea')|trim }) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock %}


{# Checkbox customization #}
{% block checkbox_widget %}
    <div class="custom-checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}
            {% if value is not empty %} value="{{ value }}"{% endif %}
            {% if checked %} checked="checked"{% endif %}>
        <span class="checkmark"></span>
        {{ label|default('') }}
    </div>
{% endblock %}



{# ---- SUBMIT BUTTON ---- #}
{% block submit_widget %}
    {% set cls = (attr.class|default('') ~ ' button-primary button-primary--halfWidth')|trim %}
    <button type="submit" {{ block('button_attributes') }} class="{{ cls }}">
        {{ label|default('Save')|trans({}, translation_domain) }}
    </button>
{% endblock %}
