{% use 'form_div_layout.html.twig' %}


{% block form_label %}
    {% if label is not same as(false) %}
        {% if label is empty %} {# If no label is given, use a humanized version of the field name #}
            {% set label = name|humanize %}
        {% endif %}

        {% if not compound %}
            {% set label_attr = label_attr|merge({ for: id }) %}
        {% endif %}

        <label
            {% with { attr: label_attr } %}
                {{ block('attributes') }}
            {% endwith %}>
            {{ label|trans({}, translation_domain) }}
            {% if required %}
                <span>*</span>
            {% endif %}
        </label>
    {% endif %}
{% endblock %}


{# ---- ERRORS ---- #}
{% block form_errors %}
    {% if errors|length %}
        <ul class="form-errors">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{# ---- HELP ---- #}
{% block form_help %}
    {% if help is not empty %}
        <div id="{{ id }}_help" class="form-help">
            {{ help|trans({}, translation_domain) }}
        </div>
    {% endif %}
{% endblock %}


{# Generic row for text, email, password fields, etc. #}
{% block form_row %}
    {% set fieldClass = 'my-input' %}
    {% if not form.vars.valid %}
        {% set fieldClass = fieldClass ~ ' is-invalid' %}
    {% endif %}

    {% if 'checkbox' in form.vars.block_prefixes %}
        <div class="custom-checkbox">
            {{ form_widget(form) }}
            {{ form_label(form, null, { label_attr: { class: 'my-checkbox-label' } }) }}
            {{ form_errors(form) }}
        </div>
    {% else %}
        <div class="my-custom-row">
            <div class="input-wrapper">
                {{ form_widget(form, { attr: { class: fieldClass } }) }}
                {{ form_label(form, null, { label_attr: { class: 'my-label' } }) }}
                <span class="underline"></span>
            </div>

            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}




{# {% block form_row_inline %} #}
{#    <div class="form-row-inline"> #}
{#        {{ form_label(form, null, { label_attr: { class: 'my-label' } }) }} #}
{#        <div class="my-input-wrapper"> #}
{#            {{ form_widget(form, { attr: { class: 'my-input' } }) }} #}
{#        </div> #}
{#        {{ form_errors(form) }} #}
{#    </div> #}
{# {% endblock %} #}




{# Textarea customization #}
{% block textarea_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' my-textarea')|trim }) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock %}


{# Checkbox customization #}
{% block checkbox_widget %}
    <div class="custom-checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}
            {% if value is not empty %} value="{{ value }}"{% endif %}
            {% if checked %} checked="checked"{% endif %}>
        <span class="checkmark"></span>
        {{ label|default('') }}
    </div>
{% endblock %}



{# ---- SUBMIT BUTTON ---- #}
{% block submit_widget %}
    {% set cls = (attr.class|default('') ~ ' button-primary button-primary--halfWidth mx-auto')|trim %}
    <button type="submit" {{ block('button_attributes') }} class="{{ cls }}">
        {{ label|default('Save')|trans({}, translation_domain) }}
    </button>
{% endblock %}




{# ===========================
   🖼️ Custom Image Upload Field
   =========================== #}
{% block file_widget %}
    {# opt-in when input has class "cover-upload-input" #}
    {% set classes = (attr.class|default('')) %}
    {% set is_cover = classes != '' and 'cover-upload-input' in classes|split(' ') %}

    {% if is_cover %}
        <div class="cover-upload-wrapper">
            <label class="cover-upload-label" for="{{ id }}">
                {{ block('form_widget_simple') }}
                <div class="cover-upload-box" id="cover-preview-{{ id }}">
                    <span>
                        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="#6c757d" stroke-width="1.5"
                                  stroke-linecap="round"></path>
                            <path
                                d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8"
                                stroke="#6c757d" stroke-width="1.5" stroke-linecap="round"></path>
                        </svg>
                    </span>
                    <span class="cover-upload-text">Add a cover image</span>
                </div>
            </label>

            {{ form_errors(form) }}
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock %}
