{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home page{% endblock %}

{% block body %}

    <div class="page-container">

        <div class="d-flex flex-column gap-1 mb-4 px-4">
            <h1 class="text-uppercase fs-3">Blogs</h1>
            <p class="fw-light">I think in this page its not needed to have header find something else</p>
        </div>


        <div class="sticky-categories px-2 px-md-4">
            {% include 'components/_blogCategories.html.twig' with { blogCategories: blogCategories } %}
        </div>


        <div class="d-flex flex-column">
            <div class="row g-3 g-md-0 align-items-stretch pt-3 w-100">

                {# TOP LEFT BLOG #}
                <div
                    class="col-12 col-md-5 p-0 pe-md-3 d-flex flex-column justify-content-between order-2 order-md-1">
                    <a href="#" class="zoom-wrap">
                        <img src="{{ asset('images/252-15041-4036_2.png') }}" alt="Blog image" class="img-fluid w-100">
                    </a>

                    <div class="px-4 d-flex flex-column justify-content-between gap-3 mt-4 ">
                        <div class="d-flex align-items-center gap-2">

                            <p class="fs-7 fw-medium">Event</p>

                            <div class="w-100 bg-secondary" style="height: 1px;"></div>
                        </div>
                        <h3 class="fs-5">The fascination of texture: fringes <span
                                class="fs-8 fw-normal text-secondary">- 4 min read</span></h3>
                        <p class="fw-light fs-7">
                            Welcome to REVA – where fashion isn’t just clothing, but a passion,
                            an expression of youth, and a journey of self-expression. Since our start in 2020, we’ve
                            been...

                        </p>
                    </div>
                    <div class="px-4 d-flex justify-content-between gap-0 gap-md-3 mt-md-auto mt-5">
                        <div class="d-flex align-items-end gap-2">
                            <p>Walid Ayad</p>
                            <p class="text-secondary fs-8">Feb 20, 2025</p>
                        </div>
                        <a href='#'
                           class="text-decoration-none fs-7 link-underline-black align-items-center gap-2">
                            Read more
                            <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415" stroke="black"
                                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>

                {# TOP RIGHT BLOG #}
                <div
                    class="col-12 col-md-7 d-flex flex-column justify-content-end p-0 blog-bg order-1 order-md-2"
                    style="--bg-image: url('{{ asset('images/252-15041-4036_2.png') }}');
                        --bg-image-hover: url('{{ asset('images/cq5dam.web.hebebed.2000.2000 (4).jpg') }}');">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
                         data-bs-interval="3000" data-bs-touch="true">
                        {# INDICATORS #}
                        <div class="carousel-indicators mb-2">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                        </div>

                        {# CAROUSEL ITEMS #}
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex px-4 pb-5 flex-column justify-content-end blog-bg z-0"
                                     style="--bg-image: url('{{ asset('images/252-15041-4036_2.png') }}');
                                         --bg-image-hover: url('{{ asset('images/cq5dam.web.hebebed.2000.2000 (4).jpg') }}');">
                                    <div class="bg-layer base"></div>
                                    <div class="bg-layer hover"></div>
                                    <div class="overlay"></div>
                                    <div class="d-flex flex-column gap-3 z-1">
                                        <div class="d-flex align-items-center gap-2">

                                            <p class="fs-7 fw-medium">Event</p>

                                            <div class="w-100 bg-secondary" style="height: 1px;"></div>
                                        </div>
                                        {#                                        <p class="text-white fs-8">Feb 20, 2025</p> #}

                                        <h3 class="fs-5">The fascination of texture: fringes, mesh and modern
                                            knitwear <span class="fs-8 fw-normal opacity-50">- 4 min read</span>
                                        </h3>
                                        <p class="fw-light fs-7">
                                            Welcome to REVA – where fashion isn’t just clothing, but a passion,
                                            an expression of youth, and a journey of self-expression. Since our start in
                                            2020, we’ve
                                            been...
                                        </p>
                                        <div
                                            class="d-flex justify-content-between gap-0 gap-md-3 mt-2 z-3">
                                            <div class="d-flex align-items-end gap-2">
                                                <p>Walid Ayad</p>
                                                <p class="text-secondary fs-8">Feb 20, 2025</p>
                                            </div>
                                            <a href='#'
                                               class="text-decoration-none fs-7 link-underline-white align-items-center gap-2">
                                                Read more
                                                <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415"
                                                        stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex px-4 pb-5 flex-column justify-content-end blog-bg z-0"
                                     style="--bg-image: url('{{ asset('images/252-15041-4036_2.png') }}');
                                         --bg-image-hover: url('{{ asset('images/cq5dam.web.hebebed.2000.2000 (4).jpg') }}');">
                                    <div class="bg-layer base"></div>
                                    <div class="bg-layer hover"></div>
                                    <div class="overlay"></div>
                                    <div class="d-flex flex-column gap-3 z-1">
                                        <div class="d-flex align-items-center gap-2">

                                            <p class="fs-7 fw-medium">Event</p>

                                            <div class="w-100 bg-secondary" style="height: 1px;"></div>
                                        </div>
                                        {#                                        <p class="text-white fs-8">Feb 20, 2025</p> #}

                                        <h3 class="fs-5">The fascination of texture: fringes, mesh and modern
                                            knitwear <span class="fs-8 fw-normal opacity-50">- 4 min read</span>
                                        </h3>
                                        <p class="fw-light fs-7">
                                            Welcome to REVA – where fashion isn’t just clothing, but a passion,
                                            an expression of youth, and a journey of self-expression. Since our start in
                                            2020, we’ve
                                            been...
                                        </p>
                                        <div
                                            class="d-flex justify-content-between gap-0 gap-md-3 mt-2 z-3">
                                            <div class="d-flex align-items-end gap-2">
                                                <p>Walid Ayad</p>
                                                <p class="text-secondary fs-8">Feb 20, 2025</p>
                                            </div>
                                            <a href='#'
                                               class="text-decoration-none fs-7 link-underline-white align-items-center gap-2">
                                                Read more
                                                <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415"
                                                        stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex px-4 pb-5 flex-column justify-content-end blog-bg z-0"
                                     style="--bg-image: url('{{ asset('images/252-15041-4036_2.png') }}');
                                         --bg-image-hover: url('{{ asset('images/cq5dam.web.hebebed.2000.2000 (4).jpg') }}');">
                                    <div class="bg-layer base"></div>
                                    <div class="bg-layer hover"></div>
                                    <div class="overlay"></div>
                                    <div class="d-flex flex-column gap-3 z-1">
                                        <div class="d-flex align-items-center gap-2">

                                            <p class="fs-7 fw-medium">Event</p>

                                            <div class="w-100 bg-secondary" style="height: 1px;"></div>
                                        </div>
                                        {#                                        <p class="text-white fs-8">Feb 20, 2025</p> #}

                                        <h3 class="fs-5">The fascination of texture: fringes, mesh and modern
                                            knitwear <span class="fs-8 fw-normal opacity-50">- 4 min read</span>
                                        </h3>
                                        <p class="fw-light fs-7">
                                            Welcome to REVA – where fashion isn’t just clothing, but a passion,
                                            an expression of youth, and a journey of self-expression. Since our start in
                                            2020, we’ve
                                            been...
                                        </p>
                                        <div
                                            class="d-flex justify-content-between gap-0 gap-md-3 mt-2 z-3">
                                            <div class="d-flex align-items-end gap-2">
                                                <p>Walid Ayad</p>
                                                <p class="text-secondary fs-8">Feb 20, 2025</p>
                                            </div>
                                            <a href='#'
                                               class="text-decoration-none fs-7 link-underline-white align-items-center gap-2">
                                                Read more
                                                <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415"
                                                        stroke="white"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# LEFT & RIGHT ARROWS #}
                        <button class="carousel-control-prev z-2" type="button"
                                data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next z-2" type="button"
                                data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row g-3 g-md-0 align-items-stretch pt-3 w-100 mt-3 mt-md-5">
                <div
                    class="col-12 col-md-4 p-0 pe-md-3 d-flex flex-column justify-content-between order-2 order-md-1">
                    <a href="#" class="zoom-wrap">
                        <img src="{{ asset('images/252-15041-4036_2.png') }}" alt="Blog image" class="img-fluid w-100">
                    </a>


                    <div class="px-4 d-flex flex-column justify-content-between gap-3 mt-4 ">
                        <div class="d-flex align-items-center gap-2">

                            <p class="fs-7 fw-medium">Event</p>

                            <div class="w-100 bg-secondary" style="height: 1px;"></div>
                        </div>
                        <h3 class="fs-5">The fascination of texture: fringes <span
                                class="fs-8 fw-normal text-secondary">- 4 min read</span></h3>
                        <p class="fw-light fs-7">
                            Welcome to REVA – where fashion isn’t just clothing, but a passion,
                            an expression of youth, and a journey of self-expression. Since our start in 2020, we’ve
                            been...

                        </p>
                    </div>
                    <div class="px-4 d-flex justify-content-between gap-0 gap-md-3 mt-4">
                        <div class="d-flex align-items-end gap-2">
                            <p>Walid Ayad</p>
                            <p class="text-secondary fs-8">Feb 20, 2025</p>
                        </div>
                        <a href='#'
                           class="text-decoration-none fs-7 link-underline-black align-items-center gap-2">
                            Read more
                            <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415" stroke="black"
                                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div
                    class="col-12 col-md-4 p-0 pe-md-3 d-flex flex-column justify-content-between order-2 order-md-1">
                    <a href="#" class="zoom-wrap">
                        <img src="{{ asset('images/252-15041-4036_2.png') }}" alt="Blog image" class="img-fluid w-100">
                    </a>

                    <div class="px-4 d-flex flex-column justify-content-between gap-3 mt-4 ">
                        <div class="d-flex align-items-center gap-2">

                            <p class="fs-7 fw-medium">Event</p>

                            <div class="w-100 bg-secondary" style="height: 1px;"></div>
                        </div>
                        <h3 class="fs-5">The fascination of texture: fringes <span
                                class="fs-8 fw-normal text-secondary">- 4 min read</span></h3>
                        <p class="fw-light fs-7">
                            Welcome to REVA – where fashion isn’t just clothing, but a passion,
                            an expression of youth, and a journey of self-expression. Since our start in 2020, we’ve
                            been...

                        </p>
                    </div>
                    <div class="px-4 d-flex justify-content-between gap-0 gap-md-3 mt-4">
                        <div class="d-flex align-items-end gap-2">
                            <p>Walid Ayad</p>
                            <p class="text-secondary fs-8">Feb 20, 2025</p>
                        </div>
                        <a href='#'
                           class="text-decoration-none fs-7 link-underline-black align-items-center gap-2">
                            Read more
                            <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415" stroke="black"
                                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div
                    class="col-12 col-md-4 p-0 pe-md-3 d-flex flex-column justify-content-between order-2 order-md-1">
                    <a href="#" class="zoom-wrap">
                        <img src="{{ asset('images/252-15041-4036_2.png') }}" alt="Blog image" class="img-fluid w-100">
                    </a>

                    <div class="px-4 d-flex flex-column justify-content-between gap-3 mt-4 ">
                        <div class="d-flex align-items-center gap-2">

                            <p class="fs-7 fw-medium">Event</p>

                            <div class="w-100 bg-secondary" style="height: 1px;"></div>
                        </div>
                        <h3 class="fs-5">The fascination of texture: fringes <span
                                class="fs-8 fw-normal text-secondary">- 4 min read</span></h3>
                        <p class="fw-light fs-7">
                            Welcome to REVA – where fashion isn’t just clothing, but a passion,
                            an expression of youth, and a journey of self-expression. Since our start in 2020, we’ve
                            been...

                        </p>
                    </div>
                    <div class="px-4 d-flex justify-content-between gap-0 gap-md-3 mt-4">
                        <div class="d-flex align-items-end gap-2">
                            <p>Walid Ayad</p>
                            <p class="text-secondary fs-8">Feb 20, 2025</p>
                        </div>
                        <a href='#'
                           class="text-decoration-none fs-7 link-underline-black align-items-center gap-2">
                            Read more
                            <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415" stroke="black"
                                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-3 mt-md-5 me-3">
                {% include 'components/_button.html.twig' with {
                    typeButton: 'primary',
                    path: path('blog.allBlogs'),
                    textButton: 'See All Blogs',
                    iconType: 'corner',
                    iconColor: 'white'
                } %}
            </div>
        </div>

        <section class="section">
            {% include 'components/_joinToday.html.twig' %}
        </section>


        <section class="faq-container section">
            <div class="faq-content">

                <h2 class="text-uppercase fs-3 mb-4">Frequently Asked Questions</h2>

                <div class="accordion-style d-inline-block text-start">
                    {% include 'components/_accordion.html.twig' %}
                </div>
            </div>
        </section>


    </div>

    <div class="d-flex gap-1 overflow-auto hide-scrollbar">
        <div><img src="{{ asset('images/252-15041-4036_2.png') }}" alt=""></div>
        <div><img src="{{ asset('images/252-15041-4036_2.png') }}" alt=""></div>
        <div><img src="{{ asset('images/252-15041-4036_2.png') }}" alt=""></div>
        <div><img src="{{ asset('images/252-15041-4036_2.png') }}" alt=""></div>
        <div><img src="{{ asset('images/252-15041-4036_2.png') }}" alt=""></div>
    </div>




    <div class="col-7 p-0 d-flex flex-column justify-content-end blog-bg"
         style="--bg-image: url('{{ asset('images/252-15041-4036_2.png') }}');
             --bg-image-hover: url('{{ asset('images/cq5dam.web.hebebed.2000.2000 (4).jpg') }}');">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
             data-bs-interval="3000" data-bs-touch="true">
            {# INDICATORS #}
            <div class="carousel-indicators mb-2">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>

            {# CAROUSEL ITEMS #}
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('images/252-15041-4036_2.png') }}" alt="Blog image" class="img-fluid blog-image">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/252-15041-4036_2.png') }}" alt="Blog image" class="img-fluid blog-image">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/252-15041-4036_2.png') }}" alt="Blog image" class="img-fluid blog-image">
                </div>
            </div>

            {# LEFT & RIGHT ARROWS #}
            <button class="carousel-control-prev z-2" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next z-2" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="col-7 p-0 d-flex flex-column justify-content-end blog-bg"
         style="--bg-image: url('{{ asset('images/252-15041-4036_2.png') }}');
             --bg-image-hover: url('{{ asset('images/cq5dam.web.hebebed.2000.2000 (4).jpg') }}');">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
             data-bs-interval="3000" data-bs-touch="true">
            {# INDICATORS #}
            <div class="carousel-indicators mb-2">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>

            {# CAROUSEL ITEMS #}
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex px-4 pb-5 flex-column justify-content-end blog-bg z-0"
                         style="--bg-image: url('{{ asset('images/252-15041-4036_2.png') }}');
                             --bg-image-hover: url('{{ asset('images/cq5dam.web.hebebed.2000.2000 (4).jpg') }}');">
                        <div class="bg-layer base"></div>
                        <div class="bg-layer hover"></div>
                        <div class="overlay"></div>
                        <div class="d-flex flex-column gap-3 z-1">
                            <div class="d-flex align-items-center gap-3">
                                <div class="border border-white px-2 ">
                                    <p class="fs-8">Event</p>
                                </div>
                                <p class="text-white fs-8">Feb 20, 2025</p>
                            </div>
                            <h3 class="fs-5">The fascination of texture: fringes, mesh and modern
                                knitwear</h3>
                            <p class="fw-light fs-7">
                                Welcome to REVA – where fashion isn’t just clothing, but a passion,
                                an expression of youth, and a journey of self-expression. Since our start in
                                2020, we’ve
                                been...
                            </p>
                            <div class="d-flex justify-content-end z-3">
                                <a href='#'
                                   class="link-underline-white text-decoration-none fs-7 align-items-center gap-2">
                                    Read more
                                    <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415"
                                            stroke="white"
                                            stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex px-4 pb-5 flex-column justify-content-end blog-bg"
                         style="--bg-image: url('{{ asset('images/252-15041-4036_2.png') }}');
                             --bg-image-hover: url('{{ asset('images/cq5dam.web.hebebed.2000.2000 (4).jpg') }}');">
                        <div class="bg-layer base"></div>
                        <div class="bg-layer hover"></div>
                        <div class="overlay"></div>
                        <div class="d-flex flex-column gap-3 z-1">
                            <div class="d-flex align-items-center gap-3">
                                <div class="border border-white px-2 ">
                                    <p class="fs-8">Event</p>
                                </div>
                                <p class="text-white fs-8">Feb 20, 2025</p>
                            </div>
                            <h3 class="fs-5">The fascination of texture: fringes, mesh and modern
                                knitwear</h3>
                            <p class="fw-light fs-7">
                                Welcome to REVA – where fashion isn’t just clothing, but a passion,
                                an expression of youth, and a journey of self-expression. Since our start in
                                2020, we’ve
                                been...
                            </p>
                            <div class="d-flex justify-content-end">
                                <a href='#'
                                   class="text-decoration-none fs-7 link-underline-white align-items-center gap-2">
                                    Read more
                                    <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415"
                                            stroke="white"
                                            stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex px-4 pb-5 flex-column justify-content-end blog-bg"
                         style="--bg-image: url('{{ asset('images/252-15041-4036_2.png') }}');
                             --bg-image-hover: url('{{ asset('images/cq5dam.web.hebebed.2000.2000 (4).jpg') }}');">
                        <div class="bg-layer base"></div>
                        <div class="bg-layer hover"></div>
                        <div class="overlay"></div>
                        <div class="d-flex flex-column gap-3 z-1">
                            <div class="d-flex align-items-center gap-3">
                                <div class="border border-white px-2 ">
                                    <p class="fs-8">Event</p>
                                </div>
                                <p class="text-white fs-8">Feb 20, 2025</p>
                            </div>
                            <h3 class="fs-5">The fascination of texture: fringes, mesh and modern
                                knitwear</h3>
                            <p class="fw-light fs-7">
                                Welcome to REVA – where fashion isn’t just clothing, but a passion,
                                an expression of youth, and a journey of self-expression. Since our start in
                                2020, we’ve
                                been...
                            </p>
                            <div class="d-flex justify-content-end">
                                <a href='#'
                                   class="text-decoration-none fs-7 link-underline-white align-items-center gap-2">
                                    Read more
                                    <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415"
                                            stroke="white"
                                            stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# LEFT & RIGHT ARROWS #}
            <button class="carousel-control-prev z-2" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next z-2" type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <!-- -------- START HEADER 5 w/ text and illustration ------- -->
    {#    <header> #}
    {#        <div class="page-header min-vh-75"> #}
    {#            <div class="container"> #}
    {#                <div class="row"> #}
    {#                    <div class="col-lg-4 my-auto"> #}
    {#                        <h1 class="text-gradient text-warning mb-0">Your Desired</h1> #}
    {#                        <h1 class="mb-4">Experiences</h1> #}
    {#                        <p class="lead">The time is now for it to be okay to be great. For being a bright color. For #}
    {#                            standing out.</p> #}
    {#                        <div class="buttons"> #}
    {#                            <button type="button" class="btn bg-gradient-warning mt-4">Discover</button> #}
    {#                            <button type="button" class="btn text-warning shadow-none mt-4">Read more</button> #}
    {#                        </div> #}
    {#                    </div> #}
    {#                    <div class="col-lg-8 ps-5 pe-0"> #}
    {#                        <div class="row"> #}
    {#                            <div class="col-lg-3 col-6"> #}
    {#                                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-7" #}
    {#                                     src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/desire.jpg" #}
    {#                                     alt=""> #}
    {#                            </div> #}
    {#                            <div class="col-lg-3 col-6"> #}
    {#                                <img class="w-100 border-radius-lg shadow" #}
    {#                                     src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/chair.jpg" #}
    {#                                     alt=""> #}
    {#                                <img class="w-100 border-radius-lg shadow mt-4" #}
    {#                                     src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/facade.jpg" #}
    {#                                     alt=""> #}
    {#                            </div> #}
    {#                            <div class="col-lg-3 col-6"> #}
    {#                                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-5" #}
    {#                                     src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/architecture.jpg" #}
    {#                                     alt=""> #}
    {#                                <img class="w-100 border-radius-lg shadow mt-4" #}
    {#                                     src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/baloon.jpg" #}
    {#                                     alt=""> #}
    {#                            </div> #}
    {#                            <div class="col-lg-3 col-6"> #}
    {#                                <img class="w-100 border-radius-lg shadow mt-3" #}
    {#                                     src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/seaside.jpg" #}
    {#                                     alt=""> #}
    {#                                <img class="w-100 border-radius-lg shadow mt-4" #}
    {#                                     src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/medusa.jpg" #}
    {#                                     alt=""> #}
    {#                            </div> #}
    {#                        </div> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </header> #}
    <!-- -------- END HEADER 5 w/ text and illustration ------- -->




{% endblock %}
