<div class="d-flex flex-column gap-3">
    <img src="{{ asset(blog.image) }}" alt="Blog image" class="img-fluid blog-image">

    <div class="d-flex align-items-center gap-3">
        <div class="border border-black px-2 ">
            <p class="fs-8">{{ blog.category }}</p>
        </div>
        <p class="text-secondary fs-8">{{ blog.createdAt|date('M d, Y') }}</p>
    </div>

    <h3 class="fs-5">{{ blog.title }}</h3>
    <p class="fw-light fs-7">{{ blog.excerpt }}</p>

    <a href="{{ path('blog.one_blog', { id: blog.id }) }}"
       class="text-decoration-none fs-7 link-underline-black d-inline-flex w-auto mw-max-content align-items-center gap-2">
        Read more
        <svg width="19" height="18" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415"
                  stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </a>
</div>
