{% extends 'base.html.twig' %}


{% block title %}Update Blogs{% endblock %}


{% block body %}
    <br>

    {% for message in app.flashes('success') %}
        <h3 class="alert alert-success">{{ message }}</h3>
    {% endfor %}


    <div class="container">
        <div>
            <h2>Update Blogs</h2> ({{ blogs|length }})
            <br>
            <a href="{{ path('blog.create') }}">Create new blog</a>
        </div>

        <br>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Blog Nr.</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Created</th>
                <th scope="col">Status</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody
            {% for key,blog in blogs %}
                <tr>
                    <th scope="row">{{ blog.id }}</th>
                    <td>{{ blog.title }}</td>
                    <td>{{ blog.content }}</td>
                    <td>{{ blog.createdAt|date('Y-m-d') }}</td>
                    <td>
                        {% if (blog.published) %}
                            <span>Published</span>
                        {% else %}
                            <span>Pending</span>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('blog.delete', {id: blog.id}) }}">x</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
