{% extends 'base.html.twig' %}

    {% block title %}{{ blog.title }}{% endblock %}


{% block body %}
    {#    <a href="{{ path('blog') }}" class="px-2 py-1 bg-green-300 border inline-block">Back</a> #}
    {#    <h1>{{ one_blog.blogName }}</h1> #}
    {#    <p>Author: {{ one_blog.author }}</p> #}
    {#    <p>{{ one_blog.content }}</p> #}
    {#    <p>Created at: {{ include('blog/_blogDate.html.twig', { blog_date: one_blog.created_at }) }}</p> #}


    <div class="page-container">

        <div class="d-flex flex-column gap-2 mb-4 ps-4">

            <div class="d-flex justify-content-start">
                <div class=" mb-2">
                    {% include 'components/_button.html.twig' with {
                        typeButton: 'secondary',
                        path: 'javascript:history.back()',
                        iconType: 'back',
                        iconColor: 'black',
                    } %}
                </div>
            </div>

            {# Breadcrumb #}
            {% block bread %}
                <nav aria-label="breadcrumb" class="d-none d-md-block">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('blog.allBlogs') }}">Blogs</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">{{ blog.title|u.truncate(15, '...') }}</li>
                    </ol>
                </nav>
            {% endblock %}

            <div class="d-flex flex-column gap-4 mt-4">
                <div class="d-flex align-items-center gap-3">


                    {% include 'components/_likes.html.twig' with {
                        heartSize: '30',
                        heartColor: 'black',
                        likesNum: blog.likes
                    } %}
                    <h1 class="text-uppercase fs-3">{{ blog.title }}</h1>
                </div>

                <div class="d-flex align-items-center gap-2">
                    <div class="border border-black px-2 ">
                        <p class="fs-7">Event</p>
                    </div>

                    {{ include('blog/_blogDate.html.twig', { createdAt: blog.createdAt }) }}

                </div>


            </div>
        </div>


        {% if blog.coverImage %}
            <img src="{{ asset('uploads/blogs/' ~ blog.coverImage) }}"
                 alt="{{ blog.title }}"
                 class="cover-image ">
        {% endif %}


        <div class="w-100">
            <div class="js-blog-content" data-content="{{ blog.content|e('html_attr') }}"></div>
        </div>
    </div>



{% endblock %}
