<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@rodrigoodhin/editorjs-image-gallery@latest"></script>


</head>
<body>
<header>

    {# NAVBAR #}
    <nav
        class="navbar navbar-expand-lg fixed-top navbar-light bg-white z-index-3 py-3">
        <div class="container">

            <div class="petarisia-main-logo">
                <a href="{{ path('home') }}" rel="tooltip" data-placement="bottom"><img
                        src="{{ asset('images/Black logo.png') }}" alt="logo"></a>
                <span class="sub-logo">Blogs</span>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse gap-5" id="navigation">
                <ul class="navbar-nav navbar-nav-hover mx-auto">
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
                    </li>

                    <li class="nav-item px-3">
                        <a class="nav-link" href="{{ path('users') }}">Users</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path('blog.allBlogs') }}" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Blogs</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('blog.allBlogs') }}">All blogs</a></li>
                            <li><a class="dropdown-item mt-1" href="{{ path('blog.blogsTable') }}">Manage blogs</a></li>
                            <li><a class="dropdown-item mt-1" href="{{ path('blog.allBlogCategories') }}">Manage
                                    categories</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item mt-1" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>


                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                {% include 'components/_button.html.twig' with {
                    typeButton: 'primary',
                    path: path('login'),
                    textButton: 'Login',
                } %}
            </div>
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

</body>
</html>
