<div class="container-fluid mb-3">
    {% include 'components/_button.html.twig' with {
        typeButton: 'secondary',
        path: path('blog.blogsTable'),
        iconType: 'back',
        iconColor: 'black',
    } %}
</div>


{#    {{ form(formBlog) }} #}
<div class="d-flex flex-column gap-4 justify-content-center align-items-center">
    <div class="w-50">

        {# ⚠️ Keep novalidate=false so HTML5 validation also works #}
        {{ form_start(formBlog, {'attr': {'novalidate': false}}) }}

        {# 🔹 Global form errors (e.g. if CSRF fails) #}
        {{ form_errors(formBlog) }}

        <div class="d-flex flex-column gap-4">
            <div class="form-inline-group">
                {{ form_row(formBlog.title, { row_attr: { class: 'form-row-inline' } }) }}
                {{ form_row(formBlog.created_at,  { row_attr: { class: 'form-row-inline' } }) }}
            </div>

            {{ form_row(formBlog.content) }}
            {{ form_row(formBlog.likes) }}
            {{ form_row(formBlog.is_published) }}
            {{ form_row(formBlog.save) }}
        </div>

        {{ form_end(formBlog) }}
    </div>
</div>
