{% include 'components/_section_header.html.twig' with {
    title: 'BLOGS',
    count: blogs|length,
    description: 'Update and delete blogs here',
    buttonType: 'primary',
    buttonPath: path('dashboard.createBlog'),
    buttonText: 'New Blog',
    buttonIconType: 'add',
    buttonIconColor: 'white'
} %}


<div class="table-responsive border border-black border-opacity-25 ">
    {# {{ dump(blogs) }} #}
    {% if blogs|length > 0 %}
        <table class="table table-striped table-hover">
            <thead class="table-light">
            <tr>
                <th scope="col" class="ps-3 py-3 2-25">#</th>
                <th scope="col" class="py-3"><img src="{{ asset('icons/Heart_filled.svg') }}" alt="Likes"></th>
                <th scope="col" class="py-3">Title</th>
                <th scope="col" class="py-3">Content</th>
                <th scope="col" class="py-3">Categories</th>
                <th scope="col" class="py-3">
                    <a
                        href="{{ path('dashboard.allBlogs', { order: order == 'ASC' ? 'DESC' : 'ASC' }) }}">
                        Created
                        {% if order == 'ASC' %}
                            <img src="{{ asset('icons/Sort From Bottom To Top.svg') }}" alt="sort icon">
                        {% else %}
                            <img src="{{ asset('icons/Sort From Top To Bottom.svg') }}" alt="sort icon">
                        {% endif %}
                    </a>
                </th>
                <th scope="col" class="py-3">Status</th>
                <th scope="col" class="pe-3 py-3">Update</th>
            </tr>
            </thead>
            <tbody>

            {% for key,blog in blogs %}
                <tr>
                    {#   ID   #}
                    <td colspan="1" class="text-secondary ps-3 py-3 fs-7">{{ blog.id }}</td>

                    {#   Number of Likes   #}
                    <td class="py-3 fs-7">
                        <div class="d-flex align-items-center gap-1">
                            <span>{{ likesCount[blog.id] ?? 0 }}</span>
                        </div>
                    </td>

                    {#   Title   #}
                    <td class="py-3 fs-7">
                        <a href="{{ path('blog.one_blog', { id: blog.id }) }}"
                           class="link-no-underline-black d-inline-block align-items-center"
                           data-tooltip="Users"
                           data-tooltip-placement="right">
                            <img class="me-2" src="{{ asset('icons/Link Square.svg') }}" alt="pen icon">
                            {{ blog.title|u.truncate(10, '...') }}
                        </a>
                    </td>

                    {#   Content   #}
                    <td class="py-3 fs-7">{{ blog.excerpt|striptags|u.truncate(40, '...') }}</td>

                    <td class="py-3 fs-7">New, Java, something,</td>

                    {#   Created_at   #}
                    <td class="py-3 fs-7">{{ blog.createdAt|date('Y-m-d') }}</td>

                    {#   Status  #}
                    <td class="py-3 fs-7">
                        <div class="d-flex align-items-center gap-1">
                                <span>
                                    <a
                                        href="#"
                                        class="open-status-blog-modal"
                                        data-blog-id="{{ blog.id }}"
                                        data-blog-name="{{ blog.title }}"
                                    >
                                        {% if (blog.published) %}
                                            <span class="indicator published"
                                                  data-bs-toggle="tooltip"
                                                  data-bs-placement="top"
                                                  data-bs-title="Published"
                                            >
                                            </span>
                                        {% else %}
                                            <span class="indicator danger"
                                                  data-bs-toggle="tooltip"
                                                  data-bs-placement="top"
                                                  data-bs-title="Unpublished"
                                            >
                                            </span>
                                        {% endif %}
                                    </a>
                                </span>
                        </div>
                    </td>

                    {#   Action buttons   #}
                    <td class="py-3">
                        {#   delete   #}
                        <a class="me-3 open-delete-blog-modal" href="#"
                           data-blog-id="{{ blog.id }}"
                           data-blog-name="{{ blog.title }}"
                        >
                            <img
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-title="Delete"
                                src="{{ asset('icons/Trash Bin Trash.svg') }}"
                                alt="pen icon">
                        </a>
                        {#   edit   #}
                        <a href="{{ path('dashboard.editBlog', {id: blog.id} ) }}" data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-title="Edit">
                            <img src="{{ asset('icons/Pen New Square.svg') }}" alt="pen icon">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ include('components/_emptyPage.html.twig' , {message : "No Blogs yet", linkText: "New Blog", linkPath: "dashboard.createBlog"}) }}
    {% endif %}


    {% include "components/_modalConfirm.html.twig" with {
        modal_id: "globalDeleteBlogModal",
        title: "Confirm Deletion",
        body: "Are you sure you want to delete the blog '<strong id=\"deleteBlog\"></strong>'?",
        confirm_path: "",
        confirm_text: "Delete"
    } %}

    {% include "components/_modalConfirm.html.twig" with {
        modal_id: "globalStatusBlogModal",
        title: "Update Status",
        body: "Are you sure you want to update the blog '<strong id=\"statusBlog\"></strong>' status?",
        confirm_path: "",
        confirm_text: "Confirm"
    } %}
</div>


<script>
    document.addEventListener('click', function (e) {

        const delBtn = e.target.closest('.open-delete-blog-modal');
        if (delBtn) {
            e.preventDefault();
            const blogId = delBtn.dataset.blogId;
            const blogName = delBtn.dataset.blogName;
            const modalEl = document.getElementById('globalDeleteBlogModal');
            const form = modalEl.querySelector('#confirmActionForm');
            const blogNameEl = modalEl.querySelector('#deleteBlog');

            if (form) {
                form.action = `/blog/delete/${blogId}`;
            }
            if (blogNameEl) {
                blogNameEl.textContent = blogName;
            }

            // Show the modal using Bootstrap
            if (window.bootstrap && window.bootstrap.Modal) {
                const modal = window.bootstrap.Modal.getOrCreateInstance(modalEl);
                modal.show();
            }
        }

        const statusBtn = e.target.closest('.open-status-blog-modal');
        if (statusBtn) {
            e.preventDefault();
            const blogId = statusBtn.dataset.blogId;
            const blogName = statusBtn.dataset.blogName;
            const modalEl = document.getElementById('globalStatusBlogModal');
            const form = modalEl.querySelector('#confirmActionForm');
            const blogNameEl = modalEl.querySelector('#statusBlog');

            if (form) {
                form.action = `/blog/blog-status/${blogId}`;
            }
            if (blogNameEl) {
                blogNameEl.textContent = blogName;
            }

            // Show the modal using Bootstrap
            if (window.bootstrap && window.bootstrap.Modal) {
                const modal = window.bootstrap.Modal.getOrCreateInstance(modalEl);
                modal.show();
            }
        }
    });

</script>
