{#    {{ form(formBlog) }} #}
<div class=" text-editor d-flex flex-column gap-4 justify-content-center align-items-center w-100 h-100">
    <div class="w-100 h-100">

        {# ⚠️ Keep novalidate=false so HTML5 validation also works #}
        {{ form_start(formBlog, {'attr': {'novalidate': true}}) }}

        {# 🔹 Global form errors REMOVED: {{ form_errors(formBlog) }} - This was showing ALL errors at the top #}
        {{ form_errors(formBlog) }}

        <div class="d-flex flex-column gap-4 w-100">


            {{ form_widget(formBlog.coverImage, { attr: { class: 'cover-upload-input' } }) }}


            <div class="d-flex gap-3">
                {{ form_row(formBlog.title, { row_attr: { class: 'form-row-inline' } }) }}
                {{ form_row(formBlog.readTime,  { row_attr: { class: 'form-row-inline' } }) }}
            </div>

            <div class="mb-3 d-flex gap-3">
                {# <pre>{{ dump(formBlog.categories.vars.attr) }}</pre> #}

                {{ form_widget(formBlog.categories) }}
                {{ form_row(formBlog.blogLanguage, { row_attr: { class: 'form-row-inline' } }) }}
            </div>


            <div class=" editorjs-holder-wrapper">
                <label for="editorjs-holder" class="editorjs-holder-label">Content *</label>
                <div id="editorjs-holder" class="editorjs-holder"></div>
                {{ form_widget(formBlog.content) }}
            </div>

            {# {{ form_row(formBlog.category) }} #}
            {{ form_row(formBlog.is_published) }}

            <div class="d-flex flex-column gap-1">
                <p class="form-help">You can save it now and edit it later</p>
                {{ form_row(formBlog.save) }}
            </div>

            {# {{ form_row(formBlog.content) }} #}
        </div>

        {{ form_end(formBlog) }}
    </div>
</div>
