<div class=" col-12 col-md-6 col-lg-4 pe-0 pb-5 d-flex flex-column justify-content-between">


    <a href="#" class="zoom-wrap position-relative">
        <img src="{{ asset(blog.image) }}" alt="{{ blog.title }}" class="img-fluid w-100">
        {% if date(blog.date) > date('-7day') %}
            <small class="new_blog_tag">New</small>
        {% endif %}
    </a>

    <div class="px-4 d-flex flex-column justify-content-between gap-3 mt-4">
        <div class="d-flex align-items-center gap-2">
            <p class="fw-medium">{{ blog.category }}</p>
            <div class="w-100 bg-secondary" style="height: 1px;"></div>
        </div>

        <h3>{{ blog.title }}
            <small class="fw-normal text-secondary"> - {{ blog.readTime }}</small>
        </h3>

        <p class="fw-light">{{ blog.content|u.truncate(140, '...') }}</p>
    </div>

    <div class="px-4 d-flex justify-content-between gap-0 gap-md-3 mt-4">
        <div class="d-flex align-items-center gap-2">
            <p>{{ blog.author }}</p>
            <small class="text-secondary">- {{ blog.date|date('M j, Y') }}</small>
        </div>

        <a href="#" class="text-decoration-none link-underline-black align-items-center gap-2">
            Read more
            <svg width="19" height="18" viewBox="0 0 21 20" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M8 4.1665L9.66667 6.11095M8 15.8332L13 9.99984L11.75 8.5415"
                      stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
            </svg>
        </a>
    </div>
</div>
