<a
    class="button-{{ typeButton|default('primary') }} {{ textButton is defined ? 'with-text' : '' }} d-inline-flex align-items-center gap-2"
    href="{{ path }}">

    {% if iconType is defined %}
        {% if iconType == "back" %}
            <i class="bi bi-chevron-left fs-7 {{ iconColor }}"></i>
        {% elseif iconType == "chevron-right" %}
            <i class="bi bi-chevron-right fs-6 {{ iconColor }}"></i>
        {% endif %}
    {% endif %}

    {% if textButton is defined %}
        {{ textButton }}
    {% endif %}

</a>
