{% include 'components/_section_header.html.twig' with {
    title: 'CATEGORIES',
    count: blogCategories|length,
    description: 'Update and delete categories here',
    buttonType: 'primary',
    buttonPath: path('createBlogCategories'),
    buttonText: 'New Category'
} %}


<div class="table-responsive border border-black border-opacity-25 ">
    <table class="table table-striped table-hover">
        <thead class="table-light">
        <tr>
            <th scope="col" class="ps-3 py-3 2-25">#</th>
            <th scope="col" class="py-3">Category</th>
            <th scope="col" class="pe-3 py-3">Update</th>
        </tr>
        </thead>
        <tbody>
        {# {{ dump(categories) }} #}
        {% if blogCategories|length > 0 %}
            {% for key,category in blogCategories %}
                <tr>
                    {#   ID   #}
                    <td colspan="1" class="text-secondary ps-3 py-3 fs-7">{{ category.id }}</td>

                    {#   category name   #}
                    <td class="py-3 fs-7">
                        <div class="d-flex align-items-center gap-1">
                            <span>{{ category.name }}</span>
                        </div>
                    </td>

                    {#   Action buttons   #}
                    <td class="py-3">
                        {#   delete   #}
                        <a class="me-3" href="#" data-bs-toggle="modal"
                           data-bs-target="#deleteModal-{{ category.id }}">
                            <img
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-title="Delete"
                                src="{{ asset('icons/Trash Bin Trash.svg') }}"
                                alt="pen icon">
                        </a>
                        {#   edit   #}
                        <a href="#" data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-title="Edit">
                            <img src="{{ asset('icons/Pen New Square.svg') }}" alt="pen icon">
                        </a>
                    </td>
                </tr>

                {% include "components/_modalConfirm.html.twig" with {
                    modal_id: "deleteModal-" ~ category.id,
                    title: "Confirm Deletion",
                    body: "Are you sure you want to delete <strong>" ~ category.name ~ "</strong>?",

                    confirm_text: "Delete"
                } %}

                {% include "components/_modalConfirm.html.twig" with {
                    modal_id: "updateModal-" ~ category.id,
                    title: "Update Status",
                    body: "Are you sure you want to update <strong>" ~ category.name ~ "</strong>?",

                    confirm_text: "Confirm"
                } %}

            {% endfor %}
        {% else %}
            {{ include('components/_emptyPage.html.twig' , {message : "No Categories yet", linkText: "New Category", linkPath: "blog.create"}) }}

        {% endif %}

        </tbody>
    </table>
</div>
