<div class="modal fade " id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ modal_id }}Label">{{ title|default('Confirm Action') }}</h5>
                <button type="button" class="btn-close focus-ring-danger" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ body|default('Are you sure you want to continue?')|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="button-secondary" data-bs-dismiss="modal">Cancel</button>
                {% if confirm_path is defined %}
                    <a href="{{ confirm_path }}" class="button-primary">{{ confirm_text|default('Confirm') }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
