<nav
    class="navbar navbar-expand-lg fixed-top navbar-light bg-white z-index-3 py-3 w-100"
    style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
    <div class="navbar-container">
        {% set current = app.request.get('_route') %}

        <div class="petarisia-main-logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/Black logo.png') }}" alt="logo">
            </a>
            <span class="sub-logo">Blogs</span>
        </div>

        <div class="collapse navbar-collapse gap-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover mx-auto">

                <li class="nav-item px-3">
                    <a class="nav-link {{ current == 'home' ? 'active' }}"
                       href="{{ path('home') }}">
                        Home
                    </a>
                </li>

                <li class="nav-item px-3">
                    <a class="nav-link {{ current == 'blog.allBlogs' ? 'active' }}"
                       href="{{ path('blog.allBlogs') }}">
                        All Blogs
                    </a>
                </li>

                <li class="nav-item px-3">
                    <a class="nav-link {{ current == 'blog.allBlogs' ? 'active' }}"
                       href="{{ path('blog.allBlogs') }}">
                        Our vision
                    </a>
                </li>

                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item px-3">
                        <a class="nav-link {{ current starts with 'dashboard.' ? 'active' }}"
                           href="{{ path('dashboard.home') }}">
                            Dashboard
                        </a>
                    </li>
                {% endif %}
            </ul>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <div class="dropdown avatar-dropdown">
                    <button
                        class="btn dropdown-toggle p-0 border-0"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >

                        {% if app.user.userProfile and app.user.userProfile.avatar %}
                            <img
                                src="{{ profiles ~ app.user.userProfile.avatar }}"
                                alt="User Avatar"
                                class="avatar-img"
                            >
                        {% else %}
                            <span class="avatar-icon"><i class="bi bi-person fs-3"></i></span>
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item d-flex flex-column align-items-start"
                               href="{{ path('dashboard.profile') }}">
                                <span>{{ app.user.username }}</span>
                                <span class="text-secondary">{{ app.user.email|u.truncate(15, "...") }}</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2"
                               href="{{ path('dashboard.home') }}">
                                <span class="icon"><i class="bi bi-window-sidebar fs-5"></i></span>
                                <span>Dashboard</span>

                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center gap-2"
                               href="{{ path('dashboard.profile') }}">
                                <span class="icon"><i class="bi bi-person fs-5"></i></span>
                                <span>Profile</span>

                            </a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-2"
                                   href="{{ path('dashboard.createBlog') }}">
                                    <span class="icon"><i class="bi bi-gear fs-5"></i></span>
                                    <span class="text">Settings</span>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item logout d-flex align-items-center gap-2"
                               href="{{ path('app_logout') }}">
                                <span class="icon"><i class="bi bi-box-arrow-right fs-5"></i></span>
                                <span class="text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>

            {% else %}

                <div class="d-flex align-items-center gap-3">
                    {% include 'components/_button.html.twig' with {
                        typeButton: 'secondary',
                        path: path('app_login'),
                        textButton: 'Login',
                    } %}

                    {% include 'components/_button.html.twig' with {
                        typeButton: 'primary',
                        path: path('app_register'),
                        textButton: 'Register',
                    } %}
                </div>

            {% endif %}
        </div>
    </div>
</nav>
