<aside class="vertical-sidebar">
    <input type="checkbox" role="switch" id="checkbox-input" class="checkbox-input" checked="checked"/>
    <nav>
        <div class="sidebar__toggle-container">
            <label tabindex="0" for="checkbox-input" id="label-for-checkbox-input" class="nav__toggle">
                <span class="toggle--icons" aria-hidden="true">
                    <i class="bi bi-chevron-left fs-7 toggle-svg-icon toggle--open"></i>
                    <i class="bi bi-chevron-right fs-7 toggle-svg-icon toggle--close"></i>
                </span>
            </label>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex flex-column justify-content-center align-items-center mx-1">
                <div class="glass-radio-group-sidebar">
                    <input type="radio" name="plan" id="glass-silver" checked=""/>
                    <label for="glass-silver">Admin</label>

                    <input type="radio" name="plan" id="glass-gold"/>
                    <label for="glass-gold">User</label>

                    <div class="glass-glider"></div>
                </div>
            </div>
        {% endif %}

        <section class="sidebar__wrapper">

            <ul class="sidebar__list list--primary">

                {% if is_granted('ROLE_USER') %}
                    <li class="sidebar__item {{ app.request.attributes.get('_route') == 'dashboard.home' ? 'active' : '' }}">
                        <a href="{{ path('dashboard.home') }}"
                           class="sidebar__link"
                           data-tooltip="Home">
                            <span class="icon"><i class="bi bi-house fs-5"></i></span>
                            <span class="text">Home</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_BLOGGER') %}
                    <li class="sidebar__item {{ app.request.attributes.get('_route') == 'dashboard.allBlogs' ? 'active' : '' }}">
                        <a href="{{ path('dashboard.allBlogs') }}"
                           class="sidebar__link"
                           data-tooltip="Blogs">
                            <span class="icon"><i class="bi bi-file-richtext fs-5"></i></span>
                            <span class="text">Blogs</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="sidebar__item {{ app.request.attributes.get('_route') == 'dashboard.allBlogCategories' ? 'active' : '' }}">
                        <a href="{{ path('dashboard.allBlogCategories') }}"
                           class="sidebar__link "
                           data-tooltip="Categories">
                            <span class="icon"><i class="bi bi-grid fs-5"></i></span>
                            <span class="text">Categories</span>
                        </a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="sidebar__item {{ app.request.attributes.get('_route') == 'dashboard.users' ? 'active' : '' }}">
                        <a href="{{ path('dashboard.users') }}"
                           class="sidebar__link "
                           data-tooltip="Users">
                            <span class="icon"><i class="bi bi-people fs-5"></i></span>
                            <span class="text">Users</span>
                        </a>
                    </li>
                {% endif %}

                <li class="sidebar__item {{ app.request.attributes.get('_route') == '' ? 'active' : '' }}">
                    <a href="#"
                       class="sidebar__link "
                       data-tooltip="Favourite">
                        <span class="icon"><i class="bi bi-star fs-5"></i></span>
                        <span class="text">Favourite</span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar__list list--secondary">
                <li class="sidebar__item {{ app.request.attributes.get('_route') == '' ? 'active' : '' }}">
                    <a href="#"
                       class="sidebar__link "
                       data-tooltip="Profile">
                        <span class="icon"><i class="bi bi-person fs-5"></i></span>
                        <span class="text">Profile</span> </a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="sidebar__item {{ app.request.attributes.get('_route') == 'dashboard.settings' ? 'active' : '' }}">
                        <a href="{{ path('dashboard.settings') }}"
                           class="sidebar__link "
                           data-tooltip="Settings">
                            <span class="icon"><i class="bi bi-gear fs-5"></i></span>
                            <span class="text">Settings</span>
                        </a>
                    </li>
                {% endif %}

                <li class="sidebar__item logout">
                    <a href="{{ path('app_logout') }}"
                       class="sidebar__link "
                       data-tooltip="Logout">
                        <span class="icon"><i class="bi bi-box-arrow-right fs-5"></i></span>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>


        </section>
    </nav>


</aside>
