<div class="px-3 d-flex flex-column gap-4 justify-content-center align-items-center w-100 mb-5">
    <div class="w-100 ">

        {# ⚠️ Keep novalidate=false so HTML5 validation also works #}
        {{ form_start(formUser, {'attr': {'novalidate': true}}) }}

        {# 🔹 Global form errors (e.g. if CSRF fails) #}
        {{ form_errors(formUser) }}

        <div class="d-flex flex-column gap-4 w-100">


            <div class="d-flex gap-3">
                {{ form_row(formUser.username, { row_attr: { class: 'form-row-inline' } }) }}
                {{ form_row(formUser.email,  { row_attr: { class: 'form-row-inline' }}) }}
            </div>

            <div class="d-flex gap-3">
                {{ form_row(formUser.password,  { row_attr: { class: 'form-row-inline' } }) }}
                {{ form_row(formUser.roles) }}
            </div>

            {{ form_row(formUser.terms) }}

            {{ form_row(formUser.save) }}

        </div>

        {{ form_end(formUser) }}
    </div>
</div>
