{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {# Notifications #}
    <div class="notification-container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% include 'components/_toast.html.twig' with { type: label,  message: message } %}
            {% endfor %}
        {% endfor %}
    </div>


    <div class="page-container">
        <div class="dashboard-layout">

            {% set sidebarBlogsCount = blogsCount is defined ? blogsCount : 0 %}

            {% include 'components/_sidebar.html.twig' with {
                blogsCount: sidebarBlogsCount,
            } %}


            <!-- Main Content -->
            <div class="dashboard-content">

                {# Home #}
                {% if app.request.attributes.get('_route') == 'dashboard.home' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'DASHBOARD OVERVIEW',
                        description: 'Welcome to your dashboard! Here you can manage your blog posts, categories, and users. Use the sidebar to navigate through different sections.',
                    } %}
                    {{ include('components/_userGuide.html.twig') }}
                {% endif %}

                {# Blogs #}
                {% if  app.request.attributes.get('_route') == 'dashboard.allBlogs' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'BLOGS',
                        count: blogs|length,
                        description: 'Update and delete blogs here',
                        buttonType: 'primary',
                        buttonPath: path('dashboard.createBlog'),
                        buttonText: 'New Blog',
                        buttonIconType: 'add',
                        buttonIconColor: 'white'
                    } %}
                    {{ include('components/_blogs_table.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.editBlog' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'EDIT YOUR BLOG POST',
                        description: 'Hit the "Save" button after finishing the editing.',
                        backButton: true,
                    } %}
                    {{ include('components/_blogForm.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.createBlog' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'CREATE A NEW BLOG POST',
                        description: 'Start writing your amazing blog post',
                        backButton: true,
                    } %}
                    {{ include('components/_blogForm.html.twig') }}
                {% endif %}

                {# Categories #}
                {% if app.request.attributes.get('_route') == 'dashboard.allBlogCategories' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'CATEGORIES',
                        count: blogCategories|length,
                        description: 'Update and delete categories here',
                        buttonType: 'primary',
                        buttonPath: path('dashboard.createBlogCategories'),
                        buttonText: 'New Category'
                    } %}
                    {{ include('components/_categories_table.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.createBlogCategories' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'CREATE NEW CATEGORY',
                        description: 'Fill in the form to create a new category',
                        backButton: true,
                    } %}
                    {{ include('components/_categoryForm.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.editBlogCategories' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'EDITING CATEGORY',
                        description: 'Update the category here',
                        backButton: true,
                    } %}
                    {{ include('components/_categoryForm.html.twig') }}
                {% endif %}

                {# Users #}
                {% if app.request.attributes.get('_route') == 'dashboard.users' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'USERS',
                        count: users|length,
                        description: 'Update and delete users here',
                        buttonType: 'primary',
                        buttonPath: path('dashboard.userCreate'),
                        buttonText: 'New User'
                    } %}
                    {{ include('components/_users_table.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.userEdit' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'EDITING USER PROFILE',
                        description: 'Update the user data',
                        backButton: true,
                    } %}
                    {{ include('components/_userForm.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.userCreate' %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'CREATE NEW USER',
                        description: 'Fill in the form to create a new user',
                        backButton: true,
                    } %}
                    {{ include('components/_userForm.html.twig') }}
                {% endif %}

                {# Settings #}
                {% if app.request.attributes.get('_route') == 'dashboard.settings' and settingsPage %}
                    {% include 'components/_section_header.html.twig' with {
                        title: 'SETTINGS',
                        description: 'Manage your account settings here',
                    } %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
