{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {# Notifications #}
    <div class="notification-container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% include 'components/_toast.html.twig' with { type: label,  message: message } %}
            {% endfor %}
        {% endfor %}
    </div>


    <div class="page-container">
        <div class="dashboard-layout">
            <!-- Sidebar -->
            <aside class="vertical-sidebar">
                {{ include('components/_sidebar.html.twig') }}
            </aside>

            <!-- Main Content -->
            <div class="dashboard-content">
                {% if  app.request.attributes.get('_route') == 'dashboard.allBlogs' %}
                    {{ include('components/_blogs_table.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.allBlogCategories' %}
                    {{ include('components/_categories_table.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.users' %}
                    {{ include('components/_users_table.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.userGuide' %}
                    {{ include('components/_userGuide.html.twig') }}
                {% elseif app.request.attributes.get('_route') == 'dashboard.userCreate' %}
                    {{ include('components/_userForm.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
